.font-sans-serif, .font-serif, .font-mono{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.font-sans-serif{
    background-color: greenyellow;
}

.box-font {
    display: flex;
    flex-wrap: wrap;
}

.box-font div {
    margin: 0 30px;
    padding: 40px;
}

.box-font h3 {
    font-size: 2rem;
}

/* Police Sans Serif */
.apple-system {
    font-family: apple-system;
}
.BlinkMacSystemFont {
    font-family: BlinkMacSystemFont;
}
.avenir-next {
    font-family: "avenir next";
}
.avenir {
    font-family: avenir;
    background: #02431E;
    color: white;
}
.segoe-ui {
    font-family: "segoe ui";
}
.helvetica-neue {
    font-family: "helvetica neue";
}
.Adwaita-Sans {
    font-family: "Adwaita Sans";
}
.Cantarell {
    font-family: Cantarell;
}
.Ubuntu {
    font-family: Ubuntu;
}
.roboto {
    font-family: roboto;
}
.noto {
    font-family: noto;
}
.helvetica {
    font-family: helvetica;
}
.arial {
    font-family: arial;
    background: #02431E;
    color: white;
}
.sans-serif {
    font-family: sans-serif;
}

/* Police Serif */
.Iowan-Old-Style { font-family: "Iowan Old Style"; }
.Apple-Garamond { font-family: "Apple Garamond"; }
.Baskerville { font-family: Baskerville; }
.Times-New-Roman { font-family: "Times New Roman"; }
.Droid-Serif { font-family: "Droid Serif"; }
.Times { font-family: Times; }
.Source-Serif-Pro { font-family: "Source Serif Pro"; }
.serif { font-family: serif; }
.Apple-Color-Emoji { font-family: "Apple Color Emoji"; }
.Segoe-UI-Emoji { font-family: "Segoe UI Emoji"; }
.Segoe-UI-Symbol { font-family: "Segoe UI Symbol"; }


/* Police Mono */

.Menlo { font-family: Menlo; }
.Consolas { font-family: Consolas; }
.Monaco { font-family: Monaco; }
.Adwaita-Mono { font-family: "Adwaita Mono"; }
.Liberation-Mono { font-family: "Liberation Mono"; }
.Lucida-Console { font-family: "Lucida Console"; }
.monospace { font-family: monospace; }


.test-style-text{
    display: flex;
    flex-direction: column;
    height: 1600px;
}

.fond-clair, .dark-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fond-clair{
    background: var(--sand);
}

.dark-background{
    background: var(--dark-green);
}

:root{
    --light-green : #33AA66;
    --medium-green : #1A7C55;
    --dark-green : #02431E;
    --sand : #F7F5EE;
    --orange: #EB9E3F;
}
.test-style-text{

    h1, h2, h3, h4, h5{
        font-family: arial;
    }

    h1{
        color: var(--dark-green);
        font-weight: bold;
        font-size: 3.2rem;
        letter-spacing: 3px;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        position: relative;
        margin: 10px 0;
    }

    h1::before{
        display: inline-block;
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        height: 6px;
        width: 100%;
        bottom: -4px;
        left: 10px;
    }

    h1::after{
        display: inline-block;
        position: absolute;
        content: "";
        background: var(--dark-green);
        border-radius: 50px;
        height: 6px;
        width: 100%;
        bottom: -2px;
        left: 8px;
    }

    h2{
        font-size: 2.8rem;
        color: var(--dark-green);
        font-weight: bold;
        position: relative;
        margin-bottom: 10px;
    }

    h2::after{
        display: inline-block;
        position: absolute;
        content: "";
        background: var(--orange);
        border-radius: 50px;
        height: 4px;
        width: 100%;
        bottom: -2px;
        left: 8px;
    }


    h3{
        color: var(--dark-green);
        font-size: 2.4rem; 
        margin-bottom: 10px;
    }

    h4{
        color: var(--medium-green);
        font-size: 2rem; 
        margin-bottom: 10px;
    }

    h5{
        color: var(--medium-green);
        font-size: 2rem; 
        font-style: italic;
        margin-bottom: 10px;
    }

    p, a, ul {
        font-family: avenir;
        font-size: 1.2rem;
    }

    p{
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    a{
        color: var(--dark-green);
        font-weight: bold;
        letter-spacing: 2px;
    }

    a:hover{
        color: var(--light-green)
    }

    ul{
        li::before{
            display: inline-block;
            content: "";
            background: no-repeat center/100% url(img/icons8-feuille-48.png);
            height: 16px;
            width: 18px;
            margin-left: 16px;
            margin-right: 6px;
        }
    }


    .dark-background{
        h1, h2, h3, h4, h5{
            color: var(--sand);
        }

        h1::before{
            background: rgba(255, 255, 255, 0.3);
        }

        h1::after{
            background: var(--sand);
        }

        h2::after{
            background: var(--orange);
        }

        p, a, ul {
            font-family: avenir;
            color: var(--sand);
        }

        a:hover{
            color: var(--orange)
        }

        ul{
            li::before{
                background: no-repeat center/100% url(img/icons8-feuille-48\ \(1\).png);
            }
        }
    }
}

@media (min-width: 1025px) {
    .test-style-text{
        flex-direction: row;
        height: 800px;
    }

    .fond-clair, .dark-background{
        width: 100%;
    }

    h1{
        font-size: 2.4rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.8rem; 
    }

    h4{
        font-size: 1.4rem; 
    }

    h5{
        font-size: 1.4rem; 
    }

}